@font-face {
    font-family: SF-Bold;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Light;
    src: url("../fonts//SF-Pro-Display-Light.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-SemiBold;
    src: url("../fonts//SF-Pro-Display-Semibold.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Text-Regular;
    src: url("../fonts//SF-Pro-Text-Regular.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Regular;
    src: url("../fonts//SF-Pro-Display-Regular.otf") format('opentype');
    ;
}

@font-face {
    font-family: NewYork;
    src: url("../fonts//FontsFree-Net-NewYorkSmallRegular.ttf") format('opentype');
    ;
}


.container {
    box-sizing: border-box;
    width: 100%;
    max-width: calc(100% - 0px);
    margin: 0 auto;
}

.bottomNavbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.active {
    color: green;
}

.icon img {
    width: 24px;
    height: 19px;
}


.active {
    margin-top: 5px;
    font-size: 9px;
    font-family: 'SF-Regular', sans-serif;
    color: green;
}

.nonactive {
    margin-top: 5px;
    font-size: 9px;
    font-family: 'SF-Regular', sans-serif;
    color: #333333;
}

.plusIcon {
    color: green;
    width: 24px;
    height: 19px;
}