@font-face {
    font-family: SF-Bold;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Light;
    src: url("../fonts//SF-Pro-Display-Light.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-SemiBold;
    src: url("../fonts//SF-Pro-Display-Semibold.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Text-Regular;
    src: url("../fonts//SF-Pro-Text-Regular.otf") format('opentype');
    ;
}

@font-face {
    font-family: NewYork;
    src: url("../fonts//FontsFree-Net-NewYorkSmallRegular.ttf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Italic;
    src: url("../fonts//SF-Pro-Display-RegularItalic.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Medium;
    src: url("../fonts//SF-Pro-Display-Medium.otf") format('opentype');
    ;
}


.textarea {
    width: 100%;
    height: 78px;
    font-size: 13px;
    font-family: 'SF-Text-Regular', sans-serif;
}

.box_1 {
    padding-right: 20px;
    margin-top: -4px;
}

.inputField {
    width: 211px;
    height: 15px;
    font-size: 13px;
    font-family: 'SF-Text-Regular', sans-serif;
}

.pt {
    padding-top: 6px;
}

.fieldsRow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.fieldsRow span{
    font-family: 'SF-Text-Regular', sans-serif;
    font-size: 13px;
}

.HeadInputField {
    width: 211px;
    height: 16px;
    font-size: 16px;
    font-family: 'SF-Bold', sans-serif;    
}

.HeadInputField_1 {
    width: 211px;
    height: 16px;
    font-size: 13px;
    font-family: 'SF-Text-Regular', sans-serif;
    
}

.selecteInputField {
    width: 219px;
    height: 20px;
    font-size: 13px;
    font-family: 'SF-Text-Regular', sans-serif;
    border-radius: 0px;
    margin-left: 20px;
}

.contentBox {
    display: flex;
    flex-direction: row;
    margin-top: -24px;
}

.aboutDtailsBox {
    width: 79%;
    height: 967px;
    background-color: white;
    border-radius: 5px;
    padding: 0px 14px;
}


@media screen and (min-width: 1000px) {


.fieldsRow{
    width:60%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

}
