@font-face {
    font-family: SF-Bold;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format('opentype');;
}

@font-face {
    font-family: SF-Light;
    src: url("../fonts//SF-Pro-Display-Light.otf") format('opentype');;
}

@font-face {
    font-family: SF-SemiBold;
    src: url("../fonts//SF-Pro-Display-Semibold.otf") format('opentype');;
}

@font-face {
    font-family: SF-Text-Regular;
    src: url("../fonts//SF-Pro-Text-Regular.otf") format('opentype');;
}

@font-face {
    font-family: NewYork;
    src: url("../fonts//FontsFree-Net-NewYorkSmallRegular.ttf") format('opentype');;
}

.leftSideBar{
    width: 3%;
    height: 100vh;
    border-right: 1px solid #707070;
    margin-top: 8px;
    margin-left: -8px;
}

.icon{
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
}

.pdficon{
    width: 20px;
    height: 20px;
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
}

.activeIcon{
    border-left: 2px solid orangered;
}