@font-face {
    font-family: SF-Bold;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format('opentype');;
}

@font-face {
    font-family: SF-Regular;
    src: url("../fonts/SF-Pro-Display-Regular.otf") format('opentype');;
}

@font-face {
    font-family: SF-SemiBold;
    src: url("../fonts/SF-Pro-Display-Semibold.otf") format('opentype');;
}

@font-face {
    font-family: SF-Compact-Display-Bold;
    src: url("../fonts/SF-Compact/SF-Compact-Display-Bold.ttf") format('truetype');;
}

@font-face {
    font-family: SF-Compact-Display-SemiBold;
    src: url("../fonts/SF-Compact/SF-Compact-Display-Semibold.ttf") format('truetype');;
}



.container {
    box-sizing: border-box;
    width: 375px;
    max-width: calc(100% - 900px); 
    margin: 0 auto; 
}

.backButton{
    position: relative;
    top: 64px;
    background: #F5F5F5;
    padding: 7px 9px;
    border-radius: 16px;
    margin-bottom: 42px;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.boardingHead{
    margin-top: 50px;
    font-size: 28px;
    font-family:SF-Compact-Display-SemiBold;
    text-align: center;
}

.boardingPara{
    font-size: 16px;
    color: rgb(194, 192, 192);
    margin-top: -13px;
    font-family: SF-Regular;
    text-align: left;
}

.boardingButton{
    width: 100%;
    margin-top: 37px;
}

.socialLinks{
    width: 100%;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 12px;
    border-radius: 10px;
}

.pdlLeftRight{
    padding: 0px 20px;
    font-size: 14px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.icon1{
    padding: 0px 37px;
    font-size: 14px;
    font-family: 'SF-Regular', sans-serif;
}

.icon2{
    padding: 0px 29px;
    font-size: 14px;
    font-family: 'SF-Regular', sans-serif;
}

.icon3{
    padding: 0px 30px;
    font-size: 14px;
    font-family: 'SF-Regular', sans-serif;
    text-decoration: none;
    color: black;
}

.gmailLogin{
    width: 100%;
    bottom: 150px;
}

.addAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.addAccountPara{
    font-size: 16px;
    padding: 30px 0px;
    font-family: 'SF-Regular', sans-serif;
}

.addParaStyl{
    font-size: 14px;
    padding: 30px 0px;
    font-family: 'SF-Regular', sans-serif;
    color: #323643;
    text-align: center;
}

.signStyl{
    font-size: 14px;
    padding: 30px 0px;
    font-family: 'SF-Regular', sans-serif;
    font-weight: 400;
    color: #323643;
    cursor: pointer;
}

.btnPosition{
    bottom: 0;
    width: 100%;
    padding: 40px 0px;
}

.loginButtons {
    width: 100%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.linksDecoration{
    text-decoration: none;
}

.linkStyle{
    text-decoration: none;
}

@media screen and (max-width: 767px){   

    .container {
        box-sizing: border-box;
        width: 375px;
        max-width: calc(100% - 40px); 
        margin: 0 auto; 
    }

    .backButton{
        position: relative;
        top: 64px;
        background: #F5F5F5;
        padding: 7px 9px;
        border-radius: 16px;
        margin-bottom: 42px;
    }

    .heading {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .boardingHead{
        margin-top: 20px;
        font-size: 28px;
        font-family:SF-Compact-Display-SemiBold;
    }

    .boardingPara{
        font-size: 16px;
        color: rgb(194, 192, 192);
        margin-top: -13px;
        font-family: SF-Regular;
        text-align: left;
    }

    .boardingButton{
        width: 100%;
        margin-top: 37px;
    }

    .socialLinks{
        width: 100%;
        height: 48px;
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 12px;
        border-radius: 10px;
    }

    .pdlLeftRight{
        padding: 0px 20px;
        font-size: 14px;
        display:flex;
        flex-direction: row;
        align-items: center;
    }

    .icon1{
        padding: 0px 37px;
        font-size: 14px;
        font-family: 'SF-Regular', sans-serif;
    }

    .icon2{
        padding: 0px 29px;
        font-size: 14px;
        font-family: 'SF-Regular', sans-serif;
    }

    .icon3{
        padding: 0px 30px;
        font-size: 14px;
        font-family: 'SF-Regular', sans-serif;
    }

    .gmailLogin{
        width: 100%;
        bottom: 150px;
    }

    .addAccount{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .addAccountPara{
        font-size: 16px;
        padding: 30px 0px;
        font-family:SF-Regular;
    }

    .addParaStyl{
        font-size: 14px;
        padding: 30px 0px;
        font-family:SF-Regular;
        color: #323643;
        text-align: center;
    }

    .signStyl{
        font-size: 14px;
        padding: 30px 0px;
        font-family:SF-SemiBold;
        color: #323643;
    }

    .btnPosition{
        bottom: 0;
        width: 100%;
        padding: 40px 0px;
    }

    .loginButtons {
        width: 100%;
        height: 68vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}