@font-face {
    font-family: SF-Bold;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Light;
    src: url("../fonts//SF-Pro-Display-Light.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-SemiBold;
    src: url("../fonts//SF-Pro-Display-Semibold.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Regular;
    src: url("../fonts//SF-Pro-Display-Regular.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Regular-Italic;
    src: url("../fonts//SF-Pro-Display-RegularItalic.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Text-Regular-Italic;
    src: url("../fonts//SF-Pro-Text-RegularItalic.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Medium;
    src: url("../fonts/SF-Pro-Display-Medium.otf") format('opentype');
    ;
}

.outerContainer {
    width: 100%;
    height: 42px;
    background-color: #F5F5F5;
    margin-left: -8px;
    padding-right: 18px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 13px;
    font-family: 'SF-SemiBold', sans-serif;
    font-weight: 400;
    margin-top: 0px;
}

.messageBox {
    width: 80%;
    height:auto;
    background-color: #BFDCFE72;
    border-radius: 17px;
    font-size: 13px;
    font-family: 'SF-Regular', sans-serif;
    padding: 0px 8px;
    margin-left: 59px;
    margin-top:12px;
    margin-bottom: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.outerMessageBox {
    width: 100%;
}

.img {
    width: 36px;
    height: 36px;
    margin-left: 9px;
    padding-top: 0px;
    margin-right:10px;
    border-radius: 5px;
    object-fit: cover;
    margin-top:2px;
    margin-bottom:2px;
}

.messageTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 0px;
    margin-left: 59px;
    margin-bottom: 10px;
}

.date {
    font-size: 10px;
    font-family: 'SF-Regular', sans-serif;
    color: #7F7F7F;
}

.reply {
    font-size: 10px;
    font-family: 'SF-SemiBold', sans-serif;
    font-weight: 400;
    color: #7F7F7F;
    margin-right: 6px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.textRegular {
    font-size: 13px;
    font-family: 'SF-Regular', sans-serif;
    padding: 6px 4px;
}