@font-face {
  font-family: SF-Bold;
  src: url("../fonts/SF-Pro-Display-Bold.otf") format('opentype');;
}

@font-face {
  font-family: SF-Regular;
  src: url("../fonts/SF-Pro-Display-Regular.otf") format('opentype');;
}

@font-face {
  font-family: SF-SemiBold;
  src: url("../fonts/SF-Pro-Display-Semibold.otf") format('opentype');;
}

@font-face {
  font-family: SF-Light;
  src: url("../fonts/SF-Pro-Display-Light.otf") format('opentype');;
}

@font-face {
  font-family: SF-Medium;
  src: url("../fonts/SF-Pro-Display-Medium.otf") format('opentype');;
}

@font-face {
    font-family: SF-Compact-Regular;
    src: url("../fonts/SF-Compact/SF-Compact-Text-Regular.ttf") format('truetype');;
}

.container {
    box-sizing: border-box;
    width: 375px;
    max-width: calc(100% - 50%); 
    margin: 0 auto; 
}

.imageBox{
    text-align: center;
}

.passwordImg{
    margin-top: 100px;
}

.contentBox{
    text-align: center;
}

.addAccountPara{
    font-size: 15px;
    color: rgb(194, 192, 192);
    font-family: 'SF-Regular', sans-serif;
    letter-spacing: 1px;
}

.contentHeading{
    font-size: 20px;
    margin-top: 80px;
    font-family: 'SF-Compact-Regular', sans-serif;
}

.loginIcon{
    position: absolute;
    left: 18px;
}

.btnPosition{
    width: 100%;
}

.submitButton {
    background-color: #AB987A;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 42px;
    position: relative;
    font-size: 14px;
    font-family:SF-Medium;
    letter-spacing: 1px;
    margin-bottom: 10px;
}    

.bottomContainer {
    width: 100%;
    height: 49vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 767px) { 

    .container {
        box-sizing: border-box;
        width: 375px;
        max-width: calc(100% - 20px); 
        margin: 0 auto; 
    }

    .imageBox{
        text-align: center;
    }

    .passwordImg{
        margin-top: 100px;
    }

    .contentBox{
        text-align: center;
    }

    .addAccountPara{
        font-size: 15px;
        color: rgb(194, 192, 192);
        font-family: 'SF-Regular', sans-serif;
        letter-spacing: 1px;
    }

    .contentHeading{
        font-size: 20px;
        margin-top: 80px;
        font-family: 'SF-Compact-Regular', sans-serif;
    }

    .loginIcon{
        position: absolute;
        left: 18px;
    }

    .btnPosition{
        width: 100%;
    }

    .submitButton {
        background-color: #AB987A;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        height: 42px;
        position: relative;
        font-size: 14px;
        font-family: 'SF-Medium', sans-serif;
        letter-spacing: 1px;
    }    
  
    .bottomContainer {
      width: 100%;
      height: 49vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
      
}