@font-face {
    font-family: SF-Bold;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Light;
    src: url("../fonts//SF-Pro-Display-Light.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-SemiBold;
    src: url("../fonts//SF-Pro-Display-Semibold.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Text-Regular;
    src: url("../fonts//SF-Pro-Text-Regular.otf") format('opentype');
    ;
}

@font-face {
    font-family: NewYork;
    src: url("../fonts//FontsFree-Net-NewYorkSmallRegular.ttf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Italic;
    src: url("../fonts//SF-Pro-Display-RegularItalic.otf") format('opentype');
    ;
}

@font-face {
    font-family: SF-Medium;
    src: url("../fonts//SF-Pro-Display-Medium.otf") format('opentype');
    ;
}


.header {
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.count {
    width: 8px;
    height: 10px;
    position: absolute;
    right: -10px;
    top: 15px;
    font-size: 7px;
    color: white;
    padding: 2.54pt 4.54pt 2.54pt 4.54pt;
    border-radius: 5px;
    background-color: #FA5645;
    font-family: 'SF-Text-Regular', sans-serif;
}

.settingIcon {
    margin-right: -12px;
    margin-top: 25px;
}

.statusBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spanStyle1 {
    font-size: 10px;
    font-family: 'SF-Text-Regular', sans-serif;
    font-weight: 400;
    margin-top: 3px;
    margin-left: 3px;
}

.bookmarkIcon {
    margin-right: -6px;
}

.spanStyle2 {
    font-size: 10px;
    font-family: SF-SemiBold;
    margin-top: 3px;
    margin-left: 3px;
    color: green;
}

.spanStyle3 {
    font-size: 10px;
    font-family: 'SF-Text-Regular', sans-serif;
    font-weight: 400;
    margin-top: 3px;
    margin-left: 3px;
    color: red;
}

.statusBoxChild {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statusSubBox {
    display: flex;
    padding-right: 20px;
}

.smallPara {
    font-size: 10px;
    color: #00000080;
    font-family: 'SF-Text-Regular', sans-serif;
    padding: 4px 0px;
}

.totalCountingDiv {
    position: relative;
}


.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: -20px;
    position: relative;
}


.profileHeading {
    font-size: 22px;
    margin: 0px 0px;
    margin-bottom: 13px;
    color: #000000;
    font-family: "SF-SemiBold", sans-serif;
  }