@font-face {
  font-family: SF-Bold;
  src: url("../fonts/SF-Pro-Display-Bold.otf") format('opentype');
  ;
}

@font-face {
  font-family: SF-Light;
  src: url("../fonts//SF-Pro-Display-Light.otf") format('opentype');
  ;
}

@font-face {
  font-family: SF-SemiBold;
  src: url("../fonts//SF-Pro-Display-Semibold.otf") format('opentype');
  ;
}

@font-face {
  font-family: SF-Text-Regular;
  src: url("../fonts//SF-Pro-Text-Regular.otf") format('opentype');
  ;
}

@font-face {
  font-family: NewYork;
  src: url("../fonts//FontsFree-Net-NewYorkSmallRegular.ttf") format('opentype');
  ;
}

@font-face {
  font-family: SF-Italic;
  src: url("../fonts//SF-Pro-Display-RegularItalic.otf") format('opentype');
  ;
}

@font-face {
  font-family: SF-Medium;
  src: url("../fonts//SF-Pro-Display-Medium.otf") format('opentype');
  ;
}


.container {
  box-sizing: border-box;
  width: 100%;
  margin-right: -9px;
  margin: 0 auto;
}

.outerBox {
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 5px 0px 0px 5px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 100px;
}

.profileData {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profilePicture {
  width: 59px;
  max-height: 59px;
  margin-left: 0px;
  margin-top: 20px;
  cursor: pointer;
}

.boardingHead {
  margin-top: 22px;
}

.editBtn {
  font-size: 10px;
  font-family: 'SF-Text-Regular', sans-serif;
  background-color: #FA5645;
  color: white;
  padding: 4px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.editBtn1 {
  font-size: 10px;
  font-family: 'SF-Text-Regular', sans-serif;
  background-color: #FA5645;
  color: white;
  padding: 4px 7px;
  margin-top: 28px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0px;
  margin-right: 0%;
  width: 30px;
  height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutDtailsBox {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 0px 14px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.headStyle {
  font-size: 16px;
  font-family: SF-Bold;
}

.mainContainer {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 27px;
}

.paraStyle {
  font-size: 13px;
  font-family: 'SF-Text-Regular', sans-serif;
  margin: 0px;
}

.contentBox {
  display: flex;
  padding-left: 0px;
}

.box_1 {
  padding-right: 20px;
  margin-top: 10px;
}

.channelName {
  font-size: 16px;
  font-family: 'SF-Bold', sans-serif;
}

.socialIcons {
  margin-top: -8px;
  margin-bottom: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.channelGenre {
  display: flex;
  flex-direction: column;
  width: 100%
}

.channelGenre1 {
  display: flex;
  flex-direction: row;
  width: 100%
}

.head {
  padding-right: 20px;
  width: 211px;
}

.list {
  list-style: none;
  font-size: 13px;
  font-family: 'SF-Text-Regular', sans-serif;
  height: 22px;
}

.mainProfile {
  list-style: none;
  font-size: 16px;
  font-family: 'SF-Bold', sans-serif;
  margin-bottom: 23px;
}

.mainProfile_1 {
  list-style: none;
  font-size: 16px;
  font-family: 'SF-Bold', sans-serif;
}

.mainSubProfile {
  font-size: 13px;
  font-family: 'SF-Italic', sans-serif;
  list-style: none;
  margin-bottom: 6px;
}

.publication {
  font-size: 13px;
  font-family: 'SF-Text-Regular', sans-serif;
  font-weight: 400;
  margin: 0px;
}

.setImage {
  width: 20px;
  height: 20px;
}

.parafont {
  font-size: 16px;
  font-family: 'SF-Bold', sans-serif;
  margin: 0px;
  width: 70%;
}

.parafont1 {
  font-size: 16px;
  font-family: 'SF-Bold', sans-serif;
  margin: 0px;
  width: 30%;
}

.viewcontent {
  font-size: 13px;
  font-family: 'SF-Text-Regular', sans-serif;
  font-weight: 400;
  margin: 0px;
  position: relative;
}

.viewcontentBox {
  display: flex;
  align-items: center;
  position: relative;
}

.col1 {
  width: 70%;
}

.col2 {
  width: 30%;
  text-align: left;
  font-weight: 500;
}

.col3 {
  width: 10%;
}

.table {
  width: 100%;
  padding: 5px;
  margin-top: 3px;
}

.tableRow {
  border: 1px solid black;
}

.td1 {
  width: 40%;
  font-size: 9px;
  font-family: 'SF-Text-Regular', sans-serif;
  padding: 4px;
}

.td2 {
  width: 49%;
  font-size: 9px;
  font-family: 'SF-Text-Regular', sans-serif;
  padding: 4px;
}

.td3 {
  width: 2%;
  font-size: 9px;
  font-family: 'SF-Text-Regular', sans-serif;
  background-color: #FA5645;
  padding: 0px 6px;
  border-radius: 5px;
  color: white;
}

.arrowIcon {
  position: absolute;
  right: 14px;
  cursor: pointer;
}

.loadMoreBtn {
  border: none;
  font-size: 9px;
  font-family: 'SF-Bold', sans-serif;
  background: none;
}


@media only screen and (max-width: 767px) {

  .aboutDtailsBox {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 0px 14px;
    padding-bottom: 20px;
  }

  .profileData {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }

}